.futureDayForecastBlock {
    /*width: 150px;*/
    /*height: 170px;*/
    background-color: lightslategrey;
    color: white;
}

.currentForecast {
    border: black solid 1px;
}

* {
    font-family: Serif, sans-serif;
}